* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  .register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2c3639;
    .main-register {
      width: 350px;
      background-color: #3f4e4f;
      padding: 20px;
      border-radius: 10px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      h1 {
        text-align: center;
        margin: 20px auto 10px auto;
        color: #dcd7c9;
        font-size: 30px;
      }
      hr {
        margin: auto;
        border: none;
        border-bottom: 3px solid #dcd7c9;
        width: 20%;
        margin-bottom: 20px;
      }
      form {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 0 10px;
        input {
          margin: 10px;
          padding: 10px;
          background-color: #dcd7c9;
          color: #000000;
          border: none;
          border-radius: 5px;
        }
        button {
          background-color: #a27b5c;
          color: #ffffff;
          font-size: 20px;
          width: 93%;
          border: none;
          border-radius: 5px;
          margin: auto;
          margin-top: 20px;
          padding: 10px;
          cursor: pointer;
          &:hover {
            background-color: #d78f54;
          }
        }
        span {
          color: rgb(218, 216, 216);
          font-size: 13px;
          text-align: center;
          margin: 10px;
        }
      }
    }
  }
}
