@import "../../styles.scss";
.leave {
  color: #dcd7c9;
  max-width: 1000px;
  margin: auto;
  padding: 20px;

  h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    @include mobile {
      font-size: 30px;
    }
  }
  hr {
    width: 100px;
    margin: 10px auto 50px auto;
    border: none;
    border-bottom: 5px solid #dcd7c9;
  }

  .page-titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a27b5c;
    padding: 15px;
    border-top: 1px solid #dcd7c9;
    border-bottom: 1px solid #dcd7c9;
    span {
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      width: 20%;
      @include mobile {
        font-size: 10px;
        font-weight: 500;
      }
    }
  }
  .leave-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid #dcd7c9;
    border-bottom: 1px solid #dcd7c9;
    span {
      font-size: 14px;
      font-weight: 500;
      width: 20%;
      text-align: center;
      @include mobile {
        font-size: 8px;
      }

      button {
        background-color: #a27b5c;
        width: fit-content;
        padding: 3px 10px;
        border-radius: 5px;
        font-size: 12px;
        border: none;
        cursor: pointer;
        font-weight: 400;
        margin: auto;
        margin-left: 5px;
        @include mobile {
          font-size: 8px;
        }
        &:first-child {
          background-color: green;
          color: white;
          padding: 3px 11px;
          @include mobile {
            margin-bottom: 2px;
          }
        }
        &:last-child {
          background-color: red;
          color: white;
          @include mobile {
            margin-top: 2px;
          }
        }
      }
    }
  }
  .leave-data:nth-child(2n + 1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #676767;
    padding: 15px;
    border-top: 1px solid #dcd7c9;
    border-bottom: 1px solid #dcd7c9;
    span {
      font-size: 14px;
      font-weight: 500;
      width: 20%;
      text-align: center;

      @include mobile {
        font-size: 8px;
      }
    }
  }
}
