@import "../../styles.scss";
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  .container {
    background-color: #2c3639;
    .nav-container {
      background-color: #3f4e4f;
      color: #dcd7c9;
      font-family: Arial, Helvetica, sans-serif;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1000px;
      margin: auto;
      border-bottom: 1px solid #dcd7c9;
      @include mobile {
        padding: 5px 10px;
      }
      .logo {
        img {
          height: 40px;
        }
      }
      .nav-links {
        display: flex;
        align-items: center;
        gap: 15px;
        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            height: 30px;
            background-color: white;
            border-radius: 50px;
          }
          //dropdown-menu

          .dropdown {
            position: relative;
            display: inline-block;
            &:hover {
              display: block;
              .dropdown-content {
                display: block;
              }
            }

            button {
              background-color: transparent;
              color: white;
              padding: 16px;
              font-size: 16px;
              border: none;
            }
            .dropdown-content {
              display: none;
              position: absolute;
              background-color: #f1f1f1;
              min-width: 160px;
              box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
              z-index: 1;
              span {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                &:hover {
                  background-color: #ddd;
                }
              }
            }
          }
        }
      }
    }
  }
}
